{% load la_facebook_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Login Protected Page</title>
</head>
<body>
    <h2>Login Protected Page</h2>
    {% if user %}
        <img src="{% profile_pic_src user %}" alt="profile_pic">
        {% if profile %}
            Your name is {{ profile.name }}. You're all about {{ profile.bio }}
        {% else %}
            You're logged in as {{ user.username }}, but you don't seem to have a profile.
        {% endif %}
    {% else %}
        You don't seem to be logged in =(
    {% endif %}
    {% include 'fbinfo.html' %}
</body>
</html>